---
import Layout from "../layouts/Layout.astro";
import Header from "../components/headers/Header.astro";
---

<Layout title="Error 404">
  <main class="max-w-4xl flex flex-col items-center h-full  px-4 m-auto">
    <Header
      title="Error 404..."
      description="The page you are looking for does not exist."
    />
  </main>
</Layout>
